<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.colors2web.zummix_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_zummix"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/MyMaterialTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--<activity-->
        <!--android:name=".Activities.InActiveActivity"-->
        <!--android:label="InActive Customer"-->
        <!--android:theme="@style/MyMaterialTheme">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->

        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <!--<activity-->
        <!--android:name=".Activities.OrderActivity.OrderEditActivity"-->
        <!--android:label="Shipping Address"-->
        <!--android:parentActivityName=".Activities.OrderSearch2Activity">-->

        <!--</activity>-->

        <activity
            android:name=".Activities.PostActivity.Item_DR_HistoryActivity"
            android:label="Item Dr History"
            android:parentActivityName=".Activities.OrderGroupByCustomerActivity"></activity>

        <activity
            android:name=".Activities.MasterBoxSearch.MasterBoxSearchActivity"
            android:label="Master/Box Details"
            android:parentActivityName=".Activities.OrderGroupByCustomerActivity"></activity>


        <activity
            android:name=".Activities.LoginActivity"
            android:label="Login"
            android:theme="@style/AppTheme.Dark"></activity>



        <activity
            android:name=".Activities.OrderSearch2Activity"
            android:label="Order Details"
            >

        </activity>
        <activity
            android:name=".Activities.OrderGroupByCustomerActivity"
            android:label="Customer Groups"></activity>

        <activity
            android:name=".Activities.GroupCusDetails"
            android:label="Customer Details">

        </activity>

        <activity
            android:name=".Activities.OrderActivity.TrackOrderSearchActivity"
            android:label="Order Details" />

        <activity
            android:name=".Activities.ProductDetails.ProductSearchActivity"
            android:label="Product Details">

        </activity>

        <activity android:name=".Activities.Navigation.Nav_fragments.dashboard_fragments.DashboardDetailsActivity"
            android:label="OPen Orders">

        </activity>


        <activity
            android:name=".Activities.BarcodeActivity.BarcodeMain"
            android:label="SCAN">

        </activity>

        <activity
            android:name=".Activities.BarcodeActivity.ScannerActivity"
            android:label="SCANNED VIEW"
            android:supportsRtl="true"></activity>

        <activity
            android:name=".Activities.BarcodeActivity.Barcode_ScanActivity"
            android:label="SCAN"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Activities.BarcodeActivity.BarcodeAPI_Activity"
            android:label="Order Details"
            />
        <activity
            android:name=".Activities.CustomersSearchActivity.ByActiveCustomers"
            android:label="Active Customers"
           />
        <activity
            android:name=".Activities.CustomersSearchActivity.ByCustomerId"
            android:label="Customers" />
        <activity
            android:name=".Activities.CustomersSearchActivity.ByParentId"
            android:label="Customers" />
        <activity
            android:name=".Activities.CustomersSearchActivity.ByCustomerItems"
            android:label="Customers" />
        <activity
            android:name=".Activities.OrderActivity.OrderShippingLogsActivity"
            android:label="Shipping Logs" />

        <activity
            android:name=".Activities.OrderActivity.OrderShippingEditActivity"
            android:label="Shipping Address Form">


        </activity>

        <activity
            android:name=".Activities.PostActivity.View_dr_historyActivity"
            android:label="DrShipment History"
            android:parentActivityName=".Activities.PostActivity.Item_DR_HistoryActivity">

        </activity>

        <activity
            android:name=".Activities.PostActivity.View_Pick_VelocityActivity"
            android:label="Pick Velocity Report"
            android:parentActivityName=".Activities.PostActivity.Pick_Velocity_ReportActivity"></activity>

        <activity
            android:name=".Activities.PostActivity.View_salesHistoryActivity"
            android:label="Item Sales History"
            android:parentActivityName=".Activities.PostActivity.Item_Sales_HistoryActivity"></activity>

        <activity
            android:name=".Activities.PostActivity.Item_Sales_HistoryActivity"
            android:label="Item Sales History"
            android:parentActivityName=".Activities.OrderGroupByCustomerActivity"></activity>

        <!-- <activity android:name=".Activities.PostActivity.Item_DR_HistoryActivity" -->
        <!-- android:label="Dr History" -->
        <!-- android:parentActivityName=".Activities.OrderGroupByCustomerActivity"> -->


        <!-- </activity> -->

        <activity
            android:name=".Activities.PostActivity.Pick_Velocity_ReportActivity"
            android:label="Pick Velocity Report"
            android:parentActivityName=".Activities.OrderGroupByCustomerActivity"></activity>

        <activity
            android:name=".Activities.CityBins.BinHomeActivity"
            android:label="Field Office"></activity>

        <activity
            android:name=".Activities.CityBins.BinBinActivity"
            android:label="Field Office"></activity>

        <activity
            android:name=".Activities.CityBins.CreateCityBinsActivity"
            android:label="Create City Bins"></activity>

        <activity
            android:name=".Activities.CityBins.UpdateCityBinsActivity"
            android:label="Update City Bins"></activity>

        <activity android:name=".Activities.Navigation.HomeActivity">


        </activity>

        <activity
            android:name=".Activities.ProblemSKU_Activity.PackageActivity"
            android:label="Packages"></activity>

        <activity
            android:name=".Activities.ProblemSKU_Activity.ProblemSKU"
            android:label="Problemsku"></activity>
        <activity
            android:name=".Activities.OrderActivity.BatchSearchActivity"
            android:label="Batch Status"></activity>

        <activity
            android:name=".Activities.InActiveActivity"
            android:label="InActive Customers"></activity>

        <activity
            android:name=".Activities.CustomersSearchActivity.ItemsElementory"
            android:label="Items Inventory">

        </activity>

        <activity
            android:name=".Activities.ProductDetails.ProductDetails"
            android:label="Searched Item Details">

        </activity>

    </application>

</manifest>